<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnpool.setting.domain.mapper.AgreementSettingMapper">
  <resultMap id="BaseResultMap" type="com.xnpool.setting.domain.pojo.AgreementSetting">
    <!--@mbg.generated-->
    <!--@Table agreement_setting-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="agreement_name" jdbcType="VARCHAR" property="agreementName" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, agreement_name, `path`, is_delete, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from agreement_setting
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from agreement_setting
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xnpool.setting.domain.pojo.AgreementSetting" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into agreement_setting (agreement_name, `path`, is_delete, 
      create_time, update_time)
    values (#{agreementName,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xnpool.setting.domain.pojo.AgreementSetting" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into agreement_setting
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="agreementName != null">
        agreement_name,
      </if>
      <if test="path != null">
        `path`,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="agreementName != null">
        #{agreementName,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xnpool.setting.domain.pojo.AgreementSetting">
    <!--@mbg.generated-->
    update agreement_setting
    <set>
      <if test="agreementName != null">
        agreement_name = #{agreementName,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        `path` = #{path,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xnpool.setting.domain.pojo.AgreementSetting">
    <!--@mbg.generated-->
    update agreement_setting
    set agreement_name = #{agreementName,jdbcType=VARCHAR},
      `path` = #{path,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--  软删除-->
  <update id="updateById">
    update agreement_setting set is_delete = 1 where id = #{id,jdbcType=INTEGER}
  </update>

<!--  按照条件搜索列表-->
  <select id="selectByOther" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from agreement_setting
    <where>
      is_delete = 0
      <if test="keyWord != null">
        AND (aagreement_name like #{keyWord} or `path` like #{keyWord})
      </if>
    </where>
  </select>

  <!--  根据厂房ID查询矿机架列表-->
  <select id="selectAgreementMap" resultType="java.util.HashMap">
    select id,agreement_name FROM agreement_setting where  is_delete=0
  </select>
</mapper>