<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnpool.setting.domain.mapper.ElectricityMeterSettingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xnpool.setting.domain.pojo.ElectricityMeterSetting">
        <id column="id" property="id" />
        <result column="electricity_meter_name" property="electricityMeterName" />
        <result column="mine_id" property="mineId" />
        <result column="factory_id" property="factoryId" />
        <result column="electricity_start" property="electricityStart" />
        <result column="now_code" property="nowCode" />
        <result column="last_code" property="lastCode" />
        <result column="reading_time" property="readingTime" />
        <result column="line_loss" property="lineLoss" />
        <result column="multiple" property="multiple" />
        <result column="is_delete" property="isDelete" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="tenant_id" property="tenantId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, electricity_meter_name, mine_id, factory_id, electricity_start, now_code, last_code, reading_time, line_loss, multiple, is_delete, create_time, update_time, tenant_id
    </sql>

    <select id="selectNameList" resultType="string">
        select electricity_meter_name FROM electricity_meter_setting where  is_delete=0
        <if test="id != null">
            AND id!=#{id}
        </if>
    </select>

    <!--软删除-->
    <update id="deleteByKeyId">
        update electricity_meter_setting set is_delete = 1 where id = #{id,jdbcType=INTEGER}
    </update>

    <!--  根据条件查询电表列表-->
    <select id="selectByOther" resultType="com.xnpool.setting.domain.model.ElectricityMeterSettingExample">
        SELECT
        electricity_meter_setting.id,
        electricity_meter_setting.electricity_meter_Name,
        electricity_meter_setting.mine_id,
        electricity_meter_setting.factory_id,
        electricity_meter_setting.electricity_start,
        electricity_meter_setting.line_loss,
        electricity_meter_setting.multiple,
        electricity_meter_setting.create_time,
        electricity_meter_setting.update_time,
        mine_setting.mine_name,
        factory_house.factory_name
        FROM
        electricity_meter_setting,
        mine_setting,
        factory_house
        <where>
            electricity_meter_setting.is_delete = 0
            <if test="keyWord != null and keyWord != ''">
                AND (electricity_meter_setting.electricity_meter_Name like #{keyWord} )
            </if>
            AND electricity_meter_setting.mine_id = mine_setting.id
            AND electricity_meter_setting.factory_id = factory_house.id
        </where>
    </select>

    <select id="selectOtherById" resultType="hashmap">
        SELECT
            electricity_meter_setting.id,
            electricity_meter_setting.electricity_meter_Name,
            electricity_meter_setting.electricity_start,
            electricity_meter_setting.line_loss,
            electricity_meter_setting.multiple,
            electricity_meter_setting.create_time,
            electricity_meter_setting.update_time,
            mine_setting.mine_name,
            factory_house.factory_name,
            sys_tenant.tenant_name
        FROM
            electricity_meter_setting,
            mine_setting,
            factory_house,
            sys_tenant
        WHERE
            electricity_meter_setting.id = #{id}
            AND electricity_meter_setting.is_delete = 0
            AND electricity_meter_setting.mine_id = mine_setting.id
            AND electricity_meter_setting.factory_id = factory_house.id
            AND electricity_meter_setting.tenant_id = sys_tenant.id
    </select>

</mapper>
