<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnpool.setting.domain.mapper.FactoryHouseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xnpool.setting.domain.pojo.FactoryHouse">
        <id column="id" property="id" />
        <result column="factory_num" property="factoryNum" />
        <result column="factory_name" property="factoryName" />
        <result column="description" property="description" />
        <result column="mine_id" property="mineId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
     </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, factory_num, factory_name, description, mine_id, create_time, update_time, is_delete, tenant_id
    </sql>

    <!--  根据条件进行查询-->
    <select id="selectByOther" resultType="com.xnpool.setting.domain.model.FactoryHouseExample">
        SELECT
        factory_house.id,
        factory_house.factory_num,
        factory_house.factory_name,
        factory_house.description,
        factory_house.mine_id,
        factory_house.create_time,
        factory_house.update_time,
        mine_setting.mine_name,
        mine_setting.id AS mineId
        FROM
        factory_house,
        mine_setting
        <where>
            factory_house.is_delete = 0
            <if test="keyWord != null and keyWord != ''">
                AND ( factory_house.factory_name like #{keyWord} or factory_house.description like #{keyWord})
            </if>
            AND factory_house.mine_id = mine_setting.id
        </where>
    </select>

    <select id="selectFactoryByMineId" resultMap="BaseResultMap">
        select factory_name,factory_num FROM factory_house where mine_id=#{mineId} AND is_delete=0
        <if test="id != null">
            AND id!=#{id}
        </if>
    </select>

    <update id="deleteByKeyId">
        update factory_house set is_delete = 1 where id = #{id,jdbcType=INTEGER}
    </update>

    <!--  根据矿场ID查询厂房列表-->
    <select id="selectFactoryNameByMineId" resultType="hashmap">
        select id,factory_name FROM factory_house where mine_id=#{mineId} AND is_delete=0
    </select>

    <select id="equalsFactoryNum" resultType="java.lang.Integer">
        SELECT
        id
        FROM
        factory_house
        WHERE
        is_delete = 0
        AND mine_id = #{mineId}
        AND factory_num = #{factoryNum}
    </select>

    <!--  根据矿场ID查询厂房-->
    <select id="selectByMineId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from factory_house
        where mine_id = #{mineId,jdbcType=INTEGER} AND is_delete=0
    </select>

</mapper>
