<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnpool.setting.domain.mapper.FactoryHouseMapper">
  <resultMap id="BaseResultMap" type="com.xnpool.setting.domain.pojo.FactoryHouse">
    <!--@mbg.generated-->
    <!--@Table factory_house-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="factory_name" jdbcType="VARCHAR" property="factoryName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="mine_id" jdbcType="INTEGER" property="mineId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, factory_name, description, mine_id, create_time, update_time, is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from factory_house
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from factory_house
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xnpool.setting.domain.pojo.FactoryHouse" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into factory_house (factory_name, description, mine_id, 
      create_time, update_time, is_delete
      )
    values (#{factoryName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{mineId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xnpool.setting.domain.pojo.FactoryHouse" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into factory_house
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="factoryName != null">
        factory_name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="mineId != null">
        mine_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="factoryName != null">
        #{factoryName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="mineId != null">
        #{mineId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xnpool.setting.domain.pojo.FactoryHouse">
    <!--@mbg.generated-->
    update factory_house
    <set>
      <if test="factoryName != null">
        factory_name = #{factoryName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="mineId != null">
        mine_id = #{mineId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xnpool.setting.domain.pojo.FactoryHouse">
    <!--@mbg.generated-->
    update factory_house
    set factory_name = #{factoryName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      mine_id = #{mineId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--  软删除厂房-->
  <update id="updateById">
    update factory_house set is_delete = 1 where id = #{id,jdbcType=INTEGER}
  </update>

<!--  根据条件进行查询-->
  <select id="selectByOther" resultType="com.xnpool.setting.domain.model.FactoryHouseExample">
    SELECT
    factory_house.id,
    factory_house.factory_name,
    factory_house.description,
    factory_house.mine_id,
    factory_house.create_time,
    factory_house.update_time,
    mine_setting.mine_name
    FROM
    factory_house,
    mine_setting
    <where>
    factory_house.is_delete = 0
    <if test="keyWord != null">
    AND ( factory_house.factory_name like #{keyWord} or factory_house.description like #{keyWord})
    </if>
    AND factory_house.mine_id = mine_setting.id
    </where>
  </select>

<!--  根据矿场ID查询厂房-->
  <select id="selectByMineId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from factory_house
    where mine_id = #{mineId,jdbcType=INTEGER} AND is_delete=0
  </select>

<!--  根据矿场ID查询厂房列表-->
  <select id="selectFactoryNameByMineId" resultType="hashmap">
    select id,factory_name FROM factory_house where mine_id=#{mineId} AND is_delete=0
  </select>
</mapper>