<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnpool.setting.domain.mapper.FrameSettingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xnpool.setting.domain.pojo.FrameSetting">
        <id column="id" property="id" />
        <result column="frame_name" property="frameName" />
        <result column="storage_racks_num" property="storageRacksNum" />
        <result column="row_num" property="rowNum" />
        <result column="number" property="number" />
        <result column="factory_id" property="factoryId" />
        <result column="mine_id" property="mineId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
        <result column="detailed" property="detailed" />
        <result column="tenant_id" property="tenantId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, frame_name, storage_racks_num, row_num, number, factory_id, mine_id, create_time, update_time, is_delete, detailed, tenant_id
    </sql>


    <!--  软删除-->
    <update id="deleteByKeyId">
        update frame_setting set is_delete = 1 where id = #{id,jdbcType=INTEGER}
    </update>

    <!--  按照条件查询矿机架列表-->
    <select id="selectByOther" resultType="com.xnpool.setting.domain.model.FrameSettingExample">
        SELECT
        frame_setting.id,
        frame_setting.frame_name,
        frame_setting.number,
        frame_setting.factory_id,
        frame_setting.mine_id,
        frame_setting.is_delete,
        frame_setting.create_time,
        frame_setting.update_time,
        frame_setting.detailed,
        frame_setting.storage_racks_num,
        frame_setting.row_num,
        factory_house.factory_name,
        mine_setting.mine_name
        FROM
        frame_setting,
        factory_house,
        mine_setting
        <where>
            frame_setting.is_delete = 0
            <if test="keyWord != null and keyWord != ''">
                AND ( frame_setting.frame_name like #{keyWord} or frame_setting.number like #{keyWord})
            </if>
            AND frame_setting.factory_id = factory_house.id
            AND frame_setting.mine_id = mine_setting.id
        </where>
    </select>

    <!--  根据厂房ID查询矿机架列表-->
    <select id="selectFrameNameByFactoryId" resultType="java.util.HashMap">
        select id,frame_name,number,storage_racks_num,row_num FROM frame_setting where factory_id=#{factoryId} AND is_delete=0
    </select>

    <select id="equalsFrameName" resultType="java.lang.Integer">
        SELECT
        id
        FROM
        frame_setting
        WHERE
        is_delete = 0
        AND storage_racks_num= #{storageRacksNum}
        AND row_num= #{rowNum}
        AND factory_id = #{factoryId}
        AND mine_id = #{mineId}
    </select>

    <!--运维权限设置-->
    <select id="selectMineFactoryAndFrame" resultType="hashmap">
        SELECT
        frame_setting.id AS frameId,
        frame_setting.frame_name,
        frame_setting.storage_racks_num,
        frame_setting.row_num,
        factory_house.id AS factoryId,
        factory_house.factory_name,
        mine_setting.id AS mineId,
        mine_setting.mine_name
        FROM
        frame_setting,
        factory_house,
        mine_setting
        WHERE
        frame_setting.factory_id = #{factoryId}
        AND frame_setting.mine_id = mine_setting.id
        AND frame_setting.is_delete=0
    </select>

    <select id="isExist" resultType="java.lang.Integer">
        SELECT
        id
        FROM
        frame_setting
        <where>
            frame_setting.is_delete=0
            AND frame_setting.storage_racks_num = #{storageRacksNum}
            AND frame_setting.row_num  = #{rowNum}
            <if test="id != null">
                AND id!=#{id}
            </if>
        </where>
    </select>
    <select id="selectByOtherCOUNT" resultType="java.lang.Integer">
        SELECT
            count( 0 )
        FROM
            frame_setting,
            factory_house,
            mine_setting
        WHERE
            frame_setting.is_delete = 0
            AND frame_setting.factory_id = factory_house.id
            AND frame_setting.mine_id = mine_setting.id
    </select>
</mapper>
