<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnpool.setting.domain.mapper.IpSettingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xnpool.setting.domain.pojo.IpSetting">
        <id column="id" property="id" />
        <result column="start_ip" property="startIp" />
        <result column="end_ip" property="endIp" />
        <result column="mine_id" property="mineId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
        <result column="is_to_int" property="isToInt" />
        <result column="factory_num" property="factoryNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, start_ip, end_ip, mine_id, create_time, update_time, is_delete, is_to_int,factory_num
    </sql>

    <!--  软删除-->
    <update id="deleteByKeyId">
        update ip_setting set is_delete = 1 where id = #{id,jdbcType=INTEGER}
    </update>

    <!--  根据条件查询列表-->
    <select id="selectByOther" resultType="com.xnpool.setting.domain.model.IpSettingExample">
        select
        ip_setting.id,
        ip_setting.start_ip,
        ip_setting.end_ip,
        ip_setting.mine_id,
        mine_setting.mine_name,
        ip_setting.is_to_int,
        ip_setting.factory_num
        from ip_setting,
        mine_setting
        <where>
            ip_setting.is_delete = 0
            AND ip_setting.mine_id = mine_setting.id
            <if test="mineId != null and mineId != ''">
                AND (ip_setting.mine_id =#{mineId})
            </if>
            <if test="keyWord != null and keyWord != ''">
                AND (ip_setting.start_ip like #{keyWord} or ip_setting.end_ip like #{keyWord})
            </if>
        </where>
    </select>

    <select id="selectNameList" resultType="string">
        select start_ip FROM ip_setting where  is_delete=0
        <if test="id != null">
            AND id!=#{id}
        </if>
    </select>

    <select id="selectIpByMineId" resultType="java.lang.String">
        select start_ip FROM ip_setting where  is_delete=0 AND mine_id=#{mineId}
    </select>
</mapper>
