<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnpool.setting.domain.mapper.WorkerAssignMapper">
  <resultMap id="BaseResultMap" type="com.xnpool.setting.domain.pojo.WorkerAssign">
    <!--@mbg.generated-->
    <!--@Table worker_assign-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="mine_id" jdbcType="INTEGER" property="mineId" />
    <result column="factory_id" jdbcType="INTEGER" property="factoryId" />
    <result column="frame_id" jdbcType="INTEGER" property="frameId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, mine_id, factory_id, frame_id, create_time, update_time, is_del
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from worker_assign
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from worker_assign
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xnpool.setting.domain.pojo.WorkerAssign" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into worker_assign (user_id, mine_id, factory_id, 
      frame_id, create_time, update_time, 
      is_del)
    values (#{userId,jdbcType=INTEGER}, #{mineId,jdbcType=INTEGER}, #{factoryId,jdbcType=INTEGER}, 
      #{frameId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDel,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xnpool.setting.domain.pojo.WorkerAssign" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into worker_assign
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="mineId != null">
        mine_id,
      </if>
      <if test="factoryId != null">
        factory_id,
      </if>
      <if test="frameId != null">
        frame_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="mineId != null">
        #{mineId,jdbcType=INTEGER},
      </if>
      <if test="factoryId != null">
        #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="frameId != null">
        #{frameId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xnpool.setting.domain.pojo.WorkerAssign">
    <!--@mbg.generated-->
    update worker_assign
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="mineId != null">
        mine_id = #{mineId,jdbcType=INTEGER},
      </if>
      <if test="factoryId != null">
        factory_id = #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="frameId != null">
        frame_id = #{frameId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xnpool.setting.domain.pojo.WorkerAssign">
    <!--@mbg.generated-->
    update worker_assign
    set user_id = #{userId,jdbcType=INTEGER},
      mine_id = #{mineId,jdbcType=INTEGER},
      factory_id = #{factoryId,jdbcType=INTEGER},
      frame_id = #{frameId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectByOther" resultType="com.xnpool.setting.domain.pojo.UserRoleVO">
    SELECT
        sys_user.username,
        sys_role.`name` AS roleName,
        sys_role_user.user_id,
        sys_role_user.role_id
    FROM
        sys_user,
        sys_role_user,
        sys_role
    WHERE
        sys_role_user.user_id = sys_user.id
        AND sys_role_user.role_id = sys_role.id
        GROUP BY user_id
  </select>

    <!--批量保存-->
    <insert id="batchInsert" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
        insert into worker_assign (user_id, mine_id,factory_id, frame_id)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.user_id},#{item.mine_id},#{item.factory_id},#{item.frame_id})
        </foreach>
    </insert>

    <select id="selectCountGroupByUserId" resultType="hashmap">
        SELECT
            user_id,
            count( id ) AS count
        FROM
            worker_assign
        WHERE is_del=0
        GROUP BY
            user_id
    </select>

    <select id="selectWorkerAssignList" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            worker_assign
        WHERE
            is_del=0
            AND user_id = #{userId}
    </select>

  <update id="batchToDelete" parameterType="java.util.List">
    update worker_assign set is_del=1
    WHERE
    <foreach collection="list" item="item" open="( " separator=") or (" close=" )">
      is_del=0 and user_id=#{item.user_id} and mine_id =#{item.mine_id} and
      factory_id=#{item.factory_id} and frame_id =#{item.frame_id}
    </foreach>
  </update>
</mapper>