<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnpool.setting.domain.mapper.WorkerMapper">
  <resultMap id="BaseResultMap" type="com.xnpool.setting.domain.pojo.Worker">
    <!--@mbg.generated-->
    <!--@Table worker-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="miner" jdbcType="VARCHAR" property="miner" />
    <result column="workerName" jdbcType="VARCHAR" property="workername" />
    <result column="worker_ip" jdbcType="VARCHAR" property="workerIp" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="isDelete" jdbcType="INTEGER" property="isdelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, miner, workerName, worker_ip, createTime, updateTime, isDelete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from worker
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from worker
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xnpool.setting.domain.pojo.Worker" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into worker (miner, workerName, worker_ip, 
      createTime, updateTime, isDelete
      )
    values (#{miner,jdbcType=VARCHAR}, #{workername,jdbcType=VARCHAR}, #{workerIp,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{isdelete,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xnpool.setting.domain.pojo.Worker" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into worker
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="miner != null">
        miner,
      </if>
      <if test="workername != null">
        workerName,
      </if>
      <if test="workerIp != null">
        worker_ip,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="isdelete != null">
        isDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="miner != null">
        #{miner,jdbcType=VARCHAR},
      </if>
      <if test="workername != null">
        #{workername,jdbcType=VARCHAR},
      </if>
      <if test="workerIp != null">
        #{workerIp,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xnpool.setting.domain.pojo.Worker">
    <!--@mbg.generated-->
    update worker
    <set>
      <if test="miner != null">
        miner = #{miner,jdbcType=VARCHAR},
      </if>
      <if test="workername != null">
        workerName = #{workername,jdbcType=VARCHAR},
      </if>
      <if test="workerIp != null">
        worker_ip = #{workerIp,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null">
        isDelete = #{isdelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xnpool.setting.domain.pojo.Worker">
    <!--@mbg.generated-->
    update worker
    set miner = #{miner,jdbcType=VARCHAR},
      workerName = #{workername,jdbcType=VARCHAR},
      worker_ip = #{workerIp,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      isDelete = #{isdelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--  矿机入库列表-->
  <select id="selectByOther" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from worker
    <where>
      isDelete = 0
      <if test="keyWord != null">
        AND (ip like #{keyWord} or `miner` like #{keyWord} or `workerName` like #{keyWord} or `frameName` like #{keyWord})
      </if>
    </where>
  </select>

<!--  矿机入库-->
  <update id="updateComeInByid" parameterType="java.util.List">
    update worker set is_come_in = 1 where id in
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
      #{item,jdbcType=BIGINT}
    </foreach>
  </update>

<!--  矿机软删除-->
  <update id="updateById">
    update worker set isDelete = 1 where id in
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
      #{item,jdbcType=BIGINT}
    </foreach>
  </update>

<!--  矿机出库操作-->
  <update id="updateMoveOutByid" parameterType="java.util.List">
    update worker set is_come_in = 0 where id in
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
      #{item,jdbcType=BIGINT}
    </foreach>
  </update>
</mapper>