<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnpool.setting.domain.mapper.WorkerbrandSettingMapper">
  <resultMap id="BaseResultMap" type="com.xnpool.setting.domain.pojo.WorkerbrandSetting">
    <!--@mbg.generated-->
    <!--@Table workerbrand_setting-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="worker_type" jdbcType="VARCHAR" property="workerType" />
    <result column="business" jdbcType="VARCHAR" property="business" />
    <result column="worker_size" jdbcType="VARCHAR" property="workerSize" />
    <result column="power_waste" jdbcType="VARCHAR" property="powerWaste" />
    <result column="difficulty" jdbcType="VARCHAR" property="difficulty" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, brand_name, worker_type, business, worker_size, power_waste, difficulty, is_delete, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from workerbrand_setting
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from workerbrand_setting
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xnpool.setting.domain.pojo.WorkerbrandSetting" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into workerbrand_setting (brand_name, worker_type, business, 
      worker_size, power_waste, difficulty, 
      is_delete, create_time, update_time
      )
    values (#{brandName,jdbcType=VARCHAR}, #{workerType,jdbcType=VARCHAR}, #{business,jdbcType=VARCHAR}, 
      #{workerSize,jdbcType=VARCHAR}, #{powerWaste,jdbcType=VARCHAR}, #{difficulty,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xnpool.setting.domain.pojo.WorkerbrandSetting" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into workerbrand_setting
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="brandName != null">
        brand_name,
      </if>
      <if test="workerType != null">
        worker_type,
      </if>
      <if test="business != null">
        business,
      </if>
      <if test="workerSize != null">
        worker_size,
      </if>
      <if test="powerWaste != null">
        power_waste,
      </if>
      <if test="difficulty != null">
        difficulty,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="brandName != null">
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="workerType != null">
        #{workerType,jdbcType=VARCHAR},
      </if>
      <if test="business != null">
        #{business,jdbcType=VARCHAR},
      </if>
      <if test="workerSize != null">
        #{workerSize,jdbcType=VARCHAR},
      </if>
      <if test="powerWaste != null">
        #{powerWaste,jdbcType=VARCHAR},
      </if>
      <if test="difficulty != null">
        #{difficulty,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xnpool.setting.domain.pojo.WorkerbrandSetting">
    <!--@mbg.generated-->
    update workerbrand_setting
    <set>
      <if test="brandName != null">
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="workerType != null">
        worker_type = #{workerType,jdbcType=VARCHAR},
      </if>
      <if test="business != null">
        business = #{business,jdbcType=VARCHAR},
      </if>
      <if test="workerSize != null">
        worker_size = #{workerSize,jdbcType=VARCHAR},
      </if>
      <if test="powerWaste != null">
        power_waste = #{powerWaste,jdbcType=VARCHAR},
      </if>
      <if test="difficulty != null">
        difficulty = #{difficulty,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xnpool.setting.domain.pojo.WorkerbrandSetting">
    <!--@mbg.generated-->
    update workerbrand_setting
    set brand_name = #{brandName,jdbcType=VARCHAR},
      worker_type = #{workerType,jdbcType=VARCHAR},
      business = #{business,jdbcType=VARCHAR},
      worker_size = #{workerSize,jdbcType=VARCHAR},
      power_waste = #{powerWaste,jdbcType=VARCHAR},
      difficulty = #{difficulty,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
<!--  软删除-->
  <update id="updateById">
    update workerbrand_setting set is_delete = 1 where id = #{id,jdbcType=INTEGER}
  </update>

<!--  根据条件查询矿机品牌-->
  <select id="selectByOther" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from workerbrand_setting
    <where>
      is_delete = 0
      <if test="keyWord != null">
        AND (brand_name like #{keyWord} or `worker_type` like #{keyWord} or `business` like #{keyWord}
            or `worker_size` like #{keyWord} or `power_waste` like #{keyWord} or difficulty like #{keyWord})
      </if>
    </where>
  </select>
</mapper>