<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnpool.setting.domain.mapper.WorkerbrandSettingMapper">
  <resultMap id="BaseResultMap" type="com.xnpool.setting.domain.pojo.WorkerbrandSetting">
    <!--@mbg.generated-->
    <!--@Table workerbrand_setting-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="worker_type" jdbcType="VARCHAR" property="workerType" />
    <result column="business" jdbcType="VARCHAR" property="business" />
    <result column="worker_size" jdbcType="VARCHAR" property="workerSize" />
    <result column="power_waste" jdbcType="VARCHAR" property="powerWaste" />
    <result column="difficulty" jdbcType="VARCHAR" property="difficulty" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="algorithm_id" jdbcType="INTEGER" property="algorithmId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, brand_name, worker_type, business, worker_size, power_waste, difficulty, is_delete, 
    create_time, update_time, algorithm_id
  </sql>
<!--  软删除-->
  <update id="deleteByIdKey">
    update workerbrand_setting set is_delete = 1 where id = #{id,jdbcType=INTEGER}
  </update>

<!--  根据条件查询矿机品牌-->
  <select id="selectByOther" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from workerbrand_setting
    <where>
      is_delete = 0
      <if test="keyWord != null">
        AND (brand_name like #{keyWord} or `worker_type` like #{keyWord} or `business` like #{keyWord}
            or `worker_size` like #{keyWord} or `power_waste` like #{keyWord} or difficulty like #{keyWord})
      </if>
    </where>
  </select>
  
  <select id="selectBrandNameByAlgorithmId" resultType="java.lang.String">
    select worker_type FROM workerbrand_setting where is_delete=0 AND algorithm_id=#{algorithmId}
  </select>
</mapper>